@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.sidebar-sub-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.sidebar-sub-container > h3 {
  font-size: 2rem;
}

.new-note {
  cursor: pointer;
  background-color: dodgerblue;
  border: none;
  color: white;
  border-radius: 3px;
  padding: 12px;
}

.title {
  overflow: hidden;
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding-left: 15px; */
}

.selected-note {
  background-color: dodgerblue;
}

.selected-note > h4 {
  color: white;
  font-weight: 700;
}

.split {
  display: flex;
}

.editor {
  height: 100vh;
  overflow-y: auto;
}